pkgbase = collabora-online-server
	pkgver = 24.04.8.2
	pkgrel = 1
	url = https://www.collaboraonline.com/code/
	install = install
	arch = x86_64
	license = MPL-2.0
	makedepends = curl
	makedepends = fontconfig
	makedepends = libcap
	depends = gcc-libs
	depends = libcap
	depends = pam
	depends = zlib
	depends = fontconfig
	depends = cpio
	optdepends = hunspell: Use with language-specific hunspell dictionaries for LibreOffice spell-check
	optdepends = hyphen: Use with language-specific hyphen rules for LibreOffice hyphenation
	backup = etc/apache2/conf-available/coolwsd.conf
	backup = etc/coolwsd/coolkitconfig.xcu
	backup = etc/coolwsd/coolwsd.xml
	backup = etc/nginx/snippets/coolwsd.conf
	backup = etc/apache2/conf-available/loolwsd.conf
	backup = etc/loolwsd/loolkitconfig.xcu
	backup = etc/loolwsd/loolwsd.xml
	backup = etc/nginx/snippets/loolwsd.conf
	backup = etc/sysconfig/loolwsd
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/Packages
	source = install
	source = mkcert_example.sh
	source = sysusers
	source = tmpfiles
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/code-brand_24.04-22_all.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/coolwsd_24.04.8.2-1_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-calc_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-core_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice-ure_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-ooofonts_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-graphicfilter_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-images_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-impress_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-writer_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-en-us_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-draw_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-extension-pdf-import_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-ooolinguistic_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-math_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-de_24.04.8-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice-dict-de_24.04.8-2_amd64.deb
	sha256sums = 20a54d0f11826ce295c8bddf69c965f638b7cfe0342a09a2fd2917075b59e6c7
	sha256sums = f68dc634006e622f7fed6176a5310fe8972bee8ec94ef353c3af35276ff90507
	sha256sums = 267915b76d85b23fed139d3cc1d319343a409498502677b4b83cedbbb12cad8d
	sha256sums = 638470be5d7a1a67938718f9db8040d9e093cff273baeee212c9e635bdef412d
	sha256sums = bca9ed00e20c186e44201a4fbd450a7ab63aa4f09b53293ecb5b8748a343706b
	sha256sums = 96b44ea1dc386f861a292f10dd8457827018540ebf561865340f02110205c6bb
	sha256sums = 7e9933c14f726c3922bd36ae1da4971c083846088064ace611b99d656d99454e
	sha256sums = 25ed73a531ef6711a644f5d83f6a4bf231dc66d5c7420ad567483135a4278225
	sha256sums = d9451e886800ef7a5e5e54959ed89f7bf48a44d43ed1ec8437f32a9d417df534
	sha256sums = 314a8890fb5f1574d74382bf5025b2a5d67385df8ba1c5ef28de55d103aec3da
	sha256sums = 83a04585acec383d0a430d771c94e95f9dce87be7b80936edfdde089dfec7856
	sha256sums = 25bd8d289d25f3cd077d0ba49aed094e2e047ceb84d5b740dcdf5e638c8541aa
	sha256sums = f1085c02e686b7b7090934b091cf97570c64c1da62e23ed75772022967e3badc
	sha256sums = 9eaeae4bf2aa980bb349f862e0f4ca6a80a2c6cd10626f104e6bd89e4c246ba5
	sha256sums = 02cec6e5a4191e88c3173424bf4f36f9780e47fbd6517c51f0e0db098db1b78f
	sha256sums = 045f2fd5db7871444c5af970617c818e6fb2be03209be0a6aa7a7fed82aee06a
	sha256sums = 3b2e5be597857db1dcb2c13704b46c27fbcd673dae71d73adccb60e244446c91
	sha256sums = 142e140dee106961b93ef38b80c607aa8b9719b27e3e0071e7ea63eb3564aca2
	sha256sums = c0c79f52df88024b667b8ac4009d30e8f377e1ed90a27bc41ec71981c32ef2e2
	sha256sums = 2ec2241c4c32c109ceb9d4b2b21dd7cd7716f5b3436b3fdf8f48213a98b70ed7
	sha256sums = 41321aba1a67563b600f1b589663725d78870d5c06f33ca366003bfea2b5c08f
	sha256sums = 06fa0aa025ea21992232cf2d9cd9fb76730aea900a926ff95ac9398e57bb49f4
	sha256sums = bdaa2016b20d6b6689634a70abfc358dda37aad8adc595dc10f2f54f6d117df2

pkgname = collabora-online-server

pkgname = collabora-online-server_de
