pkgbase = collabora-online-server
	pkgver = 24.04.13.2
	pkgrel = 1
	url = https://www.collaboraonline.com/code/
	install = install
	arch = x86_64
	license = MPL-2.0
	makedepends = curl
	makedepends = fontconfig
	makedepends = libcap
	depends = gcc-libs
	depends = libcap
	depends = pam
	depends = zlib
	depends = fontconfig
	depends = cpio
	optdepends = hunspell: Use with language-specific hunspell dictionaries for LibreOffice spell-check
	optdepends = hyphen: Use with language-specific hyphen rules for LibreOffice hyphenation
	backup = etc/apache2/conf-available/coolwsd.conf
	backup = etc/coolwsd/coolkitconfig.xcu
	backup = etc/coolwsd/coolwsd.xml
	backup = etc/nginx/snippets/coolwsd.conf
	backup = etc/apache2/conf-available/loolwsd.conf
	backup = etc/loolwsd/loolkitconfig.xcu
	backup = etc/loolwsd/loolwsd.xml
	backup = etc/nginx/snippets/loolwsd.conf
	backup = etc/sysconfig/loolwsd
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/Packages
	source = install
	source = mkcert_example.sh
	source = sysusers
	source = tmpfiles
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/code-brand_24.04-34_all.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/coolwsd_24.04.13.2-1_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-calc_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-core_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice-ure_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-ooofonts_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-graphicfilter_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-images_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-impress_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-writer_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-en-us_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-draw_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-extension-pdf-import_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-ooolinguistic_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-math_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraofficebasis-de_24.04.13-2_amd64.deb
	source = https://www.collaboraonline.com/repos/CollaboraOnline/CODE/collaboraoffice-dict-de_24.04.13-2_amd64.deb
	sha256sums = 49c34e0281027a888eeb5097c67bb2183fc1ee80824555305dc09f89ee0c5381
	sha256sums = f68dc634006e622f7fed6176a5310fe8972bee8ec94ef353c3af35276ff90507
	sha256sums = 267915b76d85b23fed139d3cc1d319343a409498502677b4b83cedbbb12cad8d
	sha256sums = 638470be5d7a1a67938718f9db8040d9e093cff273baeee212c9e635bdef412d
	sha256sums = bca9ed00e20c186e44201a4fbd450a7ab63aa4f09b53293ecb5b8748a343706b
	sha256sums = 2e12f03e18cb0c7f77b404811fd9762264065c56f0df3533e556f23580556433
	sha256sums = 5bcf4e771759d185ec5c3d8fcb8fac071d53e56a46307ba1056cad365b2cd6a5
	sha256sums = e3ba6f87909e876978c6df54ecdab1ae9b0efd79ee1a5ea057dfc9ccdde9ce0c
	sha256sums = 7f15004575d602dd254df8c0024e65fe562bdb76f0cc3179fb75fb2473cedb7b
	sha256sums = 1ab68b4c37e80f26046c56edc936a6d5ff91021a4a77a3cba4aa0fc21f790cbc
	sha256sums = 68310631eda16b821c51bf22c4f7562106e7a6e1b994bf516a8325718588cf34
	sha256sums = 00947e63ae1456214550a33a4d014c62a0821e7142276e19f1117cd6362cb5d0
	sha256sums = 1c27109486e098bbe47d1f3e07d2943a45169f91ec32f901d603acbf0862e482
	sha256sums = d26d512e21ffbaa25989d07f123069ea55ee5e913856eb67c29a944feee2284c
	sha256sums = 1b178b71267fac9c755a1f488de58b3068787c8fdbfc74aec27d1ff7b7b32dc3
	sha256sums = b7c337036b5196b01d7270331a5240c8852f95555bd72fe76acd280d9a8255a3
	sha256sums = 392f2b4e5679f98e336f168c63561406968ef70dfd593fb993d093d6658aeaf0
	sha256sums = 7e749ce54cee558bb34c8e2e9a63736739694e58e26cb7dd22bbfb026954c5ed
	sha256sums = 466e7bd1dec596658c4d3b968c30207ca3f74f58673ecb7df855367f0bc36710
	sha256sums = 7930657836ac1db81f2d7a31165cff6bdce1f7aace259c94bfb43b9ce2c813c8
	sha256sums = e20fcbe2a3789a7e842e26a8f1bdee60ade60dcd36f8d97d1cab2613265a8849
	sha256sums = 7be6f9d9cc3e96d7be4b02b908cda7bc3692165e8f200729a207acc144bc6b83
	sha256sums = 1b5b1d21b60925d670981bc6732d2b0715d9b2ef9a9808449f075d233c016da2

pkgname = collabora-online-server

pkgname = collabora-online-server_de
